doctype "html5"
html(lang="es")
    head
        title Laser Disc Per&uacute
        meta(charset="utf-8")
        link(rel="styleSheet" type="text/css" href="css/template.css")
    body
        header.row.oneCols
            .col.headerStyle One Cols
        article.row.twoCols
            section.col.left_sectionStyle Two Cols
            section.col.right_sectionStyle Two Cols
        article.row.oneCols
            section.col.
        .row.threeCols
            .col Threee Cols
            .col Threee Cols
            .col Threee Cols





